# Copyright 2023 Manna Harbour
# https://github.com/manna-harbour/miryoku

name: 'Build Example Corne-ish Zen Custom'
on:
  workflow_dispatch:
  push:
jobs:
  build:
    uses: ./.github/workflows/main.yml
    secrets: inherit
    with:

      board: '["corneish_zen_left@2","corneish_zen_right@2"]'
      alphas: '["dvorak"]'
      custom_config: '["#define MIRYOKU_KLUDGE_MOUSEKEYSPR\n#define MIRYOKU_KLUDGE_LANGUAGE_SWITCHER\n#define MIRYOKU_EXTRA_QWERTY\n#define MIRYOKU_TAP_GAMING"]'
      kconfig: '["CONFIG_ZMK_POINTING=y\nCONFIG_ZMK_DISPLAY_HIDE_MOMENTARY_LAYERS=y\nCONFIG_IL0323_ALTERNATIVE_REFRESH=y\nCONFIG_CUSTOM_WIDGET_LAYER_STATUS_HIDE_HEADING=y\nCONFIG_ZMK_DISPLAY_FULL_REFRESH_PERIOD=0\nCONFIG_IL0323_INVERT=n\nCONFIG_CUSTOM_WIDGET_LOGO_IMAGE_ZEN=n\nCONFIG_CUSTOM_WIDGET_LOGO_IMAGE_LPKB=y\nCONFIG_CUSTOM_WIDGET_LOGO_IMAGE_ZMK=n\nCONFIG_CUSTOM_WIDGET_LOGO_IMAGE_MIRYOKU=n"]'
      branches: '["zmkfirmware/zmk/main sethMilliken/zmk/zen-display-patches"]'
